<!-- <mat-list-item role="listitem" *ngFor="let item of items; index as i;">

	<mat-list role="list" *ngIf="isArray(item)">
		<app-card-list [items]="item"></app-card-list>
	</mat-list>
	<mat-divider></mat-divider>

	<mat-list-item role="listitem" *ngIf="!isArray(item) && isObject(item)">
		{{item.field}} | {{item.value}}
	</mat-list-item>
</mat-list-item> -->

<ul *ngFor="let item of items; index as i">
	<li class="test" *ngIf="isArray(item)">
		<div class="box"></div>
		<app-card-list [items]="item"></app-card-list>
		<hr *ngIf="i < item.length && i === 1">
	</li>
	<li *ngIf="!isArray(item) && isObject(item)">
		<div>{{item.field}}</div>
		<div>{{item.value}}</div>
	</li>
</ul>