/* ul:first-of-type {
  padding: 0;
} */
ul {
  /* width: 200px; */
  padding: 0;
}
.box {
  width: 20px;
}
.test li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
/* div {
  margin-left: 5px;
  margin-right: 5px;
} */
