/* CW styles
Usage: 
<ag-grid-angular 
  class="ag-theme-balham ag-theme-cw"
  ...
></ag-grid-angular>
*/
/* Scroll bar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(252, 143, 35, 0.2);
}
::-webkit-scrollbar-thumb {
  background: #fc8f23;
}
* {
  scrollbar-color: #fc8f23 rgba(252, 143, 35, 0.2);
  scrollbar-width: thin;
}
/* Scroll bar END */

.ag-theme-cw {
  /* font-family: Open Sans, sans-serif; */
}

.ag-theme-cw .ag-row-selected .cell-not-editable:not(.ag-cell-data-changed),
.ag-theme-cw .ag-row-selected.ag-row-group:not(.ag-cell-data-changed) {
  background: rgb(222 222 222 / 1);
}

.ag-theme-cw
  .ag-row-odd:not(.ag-row-hover):not(.ag-row-focus):not(.ag-row-selected) {
  background-color: #f7f7f7;
}

.ag-theme-cw .ag-fill-handle,
.ag-theme-cw .ag-range-handle {
  background-color: #fda34a;
}

.ag-theme-cw .ag-row-selected {
  background-color: #fedebe;
}
.ag-theme-cw .ag-cell-range-selected-1:not(.ag-cell-focus),
.ag-theme-cw
  .ag-body-viewport:not(.ag-has-focus)
  .ag-cell-range-selected-1:not(.ag-cell-inline-editing) {
  background-color: rgba(250, 225, 200, 0.4);
}

/* Grid border style */
.ag-theme-cw .ag-ltr .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected),
.ag-theme-cw .ag-ltr .ag-cell-range-single-cell,
.ag-theme-cw .ag-ltr .ag-cell-range-single-cell.ag-cell-range-handle,
.ag-theme-cw .ag-rtl .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected),
.ag-theme-cw .ag-rtl .ag-cell-range-single-cell,
.ag-theme-cw .ag-rtl .ag-cell-range-single-cell.ag-cell-range-handle {
  border-color: #fda34a;
}
.ag-theme-cw
  .ag-cell.ag-cell-range-selected:not(.ag-cell-range-single-cell).ag-cell-range-top {
  border-top-color: #fda34a;
}
.ag-theme-cw
  .ag-cell.ag-cell-range-selected:not(.ag-cell-range-single-cell).ag-cell-range-right {
  border-right-color: #fda34a;
}
.ag-theme-cw
  .ag-cell.ag-cell-range-selected:not(.ag-cell-range-single-cell).ag-cell-range-bottom {
  border-bottom-color: #fda34a;
}
.ag-theme-cw
  .ag-cell.ag-cell-range-selected:not(.ag-cell-range-single-cell).ag-cell-range-left {
  border-left-color: #fda34a;
}
.ag-theme-cw .ag-cell-focus.ag-cell-range-single-cell {
  border-color: #fda34a;
}
/* Grid border style END */
