@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "ag-grid-community/dist/styles/ag-theme-balham.css";
@import "./app/grid/styles/cw.css";

html,
body {
  font-family: sans-serif;
}

.ag-theme-alpine .ag-header-cell,
.ag-theme-alpine .ag-header-group-cell {
  padding-left: 8px;
  padding-right: 8px;
}
.ag-theme-alpine .ag-ltr .ag-floating-filter-button {
  margin-left: 8px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(252, 143, 35, 0.2);
}

::-webkit-scrollbar-thumb {
  background: #fc8f23;
}

* {
  scrollbar-color: #fc8f23 rgba(252, 143, 35, 0.2);
  scrollbar-width: thin;
}
